body{
  width:1200px;
  margin: auto;
  text-align: left;
}

.button-container {
  width: 100%;
  display: flex; /* ボタンを横並びにする */
  gap: 50px; /* ボタンの間に50pxの間隔をあける */
  justify-content: center; /* ボタンを中央に配置する */
  margin-top: 20px;
  margin-bottom: 40px;
}

.next-button {
  width:200px;
  height:80px;
}

.back-button {
  color: #FFF;
  background-color: gray!important;
  width:200px;
  height:80px;
}
.back-button:hover{
  color: #FFF;
}
.content-area{
  width: 800px;
  margin: auto;
}
.breadcrumbsWrapper{
  margin: auto;
  margin-top: 20px;
}